.estat1{
    background-color: greenyellow;
}
.estat2{
    background-color: yellow;
}
.estat3{
    background-color: olivedrab;
}
.estat4{
    background-color: lightskyblue;
}
.estat5{
    background-color: magenta;
}